.banenner-hostoria img {
    width: 100%;
}

.main-historia h1{
    padding: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3f1f01;
}

.main-historia h2{
    padding: 30px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3f1f01;
}

.main-historia .container-historia img{
       width: 800px;
       border: none;
}